<div class="alert alert-success" role="alert">
  ✅ <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<p class="lead text-center">
  <%= message %>
</p>
