<div class="alert alert-success" role="alert">
  ✅ Your satisfaction feedback was successfully submitted.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<p class="lead text-center">
  Thanks for your feedback!
</p>
