<form>
  <div class="card">
    <div class="card-header">
      Comment (Optional)
    </div>
    <div class="card-body">
      <div class="form-group">
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>
  </div>
</form>
<p></p>
<button type="button" id="icac-complete" class="btn btn-primary btn-lg btn-block"><span id="icac-btn-message">Post your comment and complete the feedback</span>&nbsp;<i id="icac-loading" class="fas fa-circle-notch fa-spin"></i></button>
