<div class="media">
  <img class="mr-3 img-thumbnail" src="<%= meeple.mogawa %>" alt="Generic placeholder image">
  <div class="media-body">
    <h6 class="mt-0">Manami Ogawa, Localization Manager</h6>
    The localization manager improves translation based on your feedback.
  </div>
</div>
