<div class="media">
  <img class="align-self-center mr-3 img-thumbnail" width="60rem" src="<%= meeple.mogawa %>" alt="Photo">
  <div class="media-body">
    <h6 class="mt-0">Manami Ogawa, Localization Manager</h6>
    We improve translation based on your feedback.
  </div>
</div>
