<style>
  .card-img-top {
    /*padding: 2.8rem 1.6rem;*/
  }
</style>
<h4>Translation Contributors</h4>
<div class="row">
  <div class="col">
    <div class="card">
      <img class="card-img-top" width="8rem" src="<%= meeple.mogawa %>" alt="Photo">
      <div class="card-body">
        <h6 class="card-title">Manami Ogawa, Localization Manager</h6>
        <p class="card-text">Hi, I'm in charge of Atlassian's localization. We are working on translation improvement with enthusiasm.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" width="8rem" src="<%= meeple.ahirama %>" alt="Photo">
      <div class="card-body">
        <h6 class="card-title">Ai Hirama, Localization Manager</h6>
        <p class="card-text">We improve translation quality based on your feedback.</p>
      </div>
    </div>
  </div>
</div>
