<style>
  .translation-contributors {
    padding: 1rem 0 2rem;
  }
  .card-img-top {
    padding: 1rem 2rem 1rem 0;
  }
</style>
<div class="translation-contributors">
  <h4>Translation Contributors</h4>
  <div class="row">
    <div class="card">
      <img class="card-img-top" src="<%= app.MEEPLE.mogawa %>" alt="Photo">
      <div class="card-body">
        <h6 class="card-title">Manami Ogawa, Localization Manager</h6>
        <p class="card-text">Hi, I'm in charge of Atlassian's localization. We are working on translation improvement with enthusiasm.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <img class="card-img-top" src="<%= app.MEEPLE.ahirama %>" alt="Photo">
      <div class="card-body">
        <h6 class="card-title">Ai Hirama, Localization Manager</h6>
        <p class="card-text">We improve translation quality based on your feedback.</p>
      </div>
    </div>
  </div>
</div>
